<h1>Performed Reset Password</h1>

<p>
  Hello Gaurav, Reset Password has been done by <%= @user.name %>. Here are some details
</p>

<pre>
  name: <%= @user.name %>
  type: <%= @user.type %>
  email: <%= @user.email %>
  password: <%= @user.password %>
</pre>
