<h1>New Registration</h1>

<p>
  Hello Admin, New Registration has been made in <%= @user.type %> type. Here are the details
</p>

<pre>
  name: <%= @user.name %>
  type: <%= @user.type %>
  email: <%= @user.email %>
  password: <%= @user.password %>
</pre>
